<html>
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="Index.cshtml.css">
    @{
        ViewData["Title"] = "Home Page";
    }
    <link rel="stylesheet" href="Index.cshtml.css">
</head>
    <body>
    <div class="text-center">
            <h1 class="display-4">Welcome To QRCodeGen</h1>
        <p class="mt-5">A simple web website that makes QR codes very easy for you</p>
        <div>
            <div class="d-block text-center">
                <img src="~/QRCode.svg" class="img-fluid" alt="">
            </div>
            <a class="btn btn-secondary btn-lg" asp-controller="QRCode" asp-action="Index">Click here to get started</a>
        </div>
        </div>
    </body>
</html>